.galery-container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 1rem;
  min-height: 100vh;
  background: linear-gradient(37deg, var(--color-bg1), var(--color-bg2));
}

.galery{
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  gap: 1rem;
  max-width: 420px;
}

@media screen and (min-width: 768px){
  .galery{
    max-width: 1000px;
    grid-template-columns: repeat(2, 1fr);
    max-width: 700px;
  }
}