:root{
  /* Color del encabezado */
  --color-faq-border: #C3DEFF;
  --color-faq-border--hover: #A4A1FF;
  --color-faq-background: #f4f4ff;
  --color-fuente: #1C2035;
  
  --font: 'Poppins', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif 
}